<!DOCTYPE html>
<html>

<head>
    <title>scatter</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        .tooltip {
            position: absolute;
            background-color: white;
            padding: 5px;
            border: 1px solid #ddd;
            pointer-events: none;
        }
    </style>
</head>

<body height= 100%, overflow= hidden>
    <div id="myPlot", style="display: flex; flex-direction: row; align-items: center; justify-content: center;"></div>
    <script>

    // Set the dimensions and margins of the graph
    const margin = { top: 100, right: 30, bottom: 100, left: 60 };
    const width = 800 - margin.left - margin.right;
    const height = 800 - margin.top - margin.bottom;

    // Create tooltip div
    const tooltip = d3.select("#myPlot")
        .append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    // append the svg object to the body of the page
    const svg = d3.select("#myPlot")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", `translate(${margin.left}, ${margin.top})`);

    // Parse the Data
    d3.json("{{dataSet}}").then ( function(data) {

      // sort data
      data.sort(function(b, a) {
        return a.frequency - b.frequency;
      });

      // X axis
      const x = d3.scaleBand()
        .range([ 0, width ])
        .domain(data.map(d => d.{{_X}}))
        .padding(0.2);
      svg.append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(d3.axisBottom(x))
        .selectAll("text")
          .attr("transform", "translate(-10,0)rotate(-45)")
          .style("text-anchor", "end");

      // Add X axis label
      svg.append("text")
        .attr("x", width / 2)
        .attr("y", height + 60)
        .attr("text-anchor", "middle")
        .style("font-size", "14px")
        .text("{{xLabel}}");

      // Add Y axis
      const y = d3.scaleLinear()
        .domain([0, d3.max(data, d => d.{{_Y}})])
        .range([ height, 0]);
      svg.append("g")
        .call(d3.axisLeft(y))
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", -40)
        .attr("x", -height / 2)
        .attr("text-anchor", "middle")
        .style("font-size", "14px")
        .text("{{yLabel}}");

      // Add title
      svg.append("text")
        .attr("x", width / 2)
        .attr("y", -30)
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .text("{{figureName}}");

      // Bars
      svg.selectAll("mybar")
        .data(data)
        .enter()
        .append("rect")
          .attr("x", d => x(d.{{_X}}))
          .attr("y", d => y(d.{{_Y}}))
          .attr("width", x.bandwidth())
          .attr("height", d => height - y(d.{{_Y}}))
          .attr("fill", "#69b3a2")
          .on("mouseover", function(event, d) {
            tooltip.transition()
                .duration(200)
                .style("opacity", .9);
            tooltip.html(`Name: ${d.{{_X}}}<br/>Frequency: ${d.{{_Y}}}`)
                .style("left", (event.pageX + 10) + "px")
                .style("top", (event.pageY - 28) + "px");
            d3.select(this)
                .attr("fill", "#85c7b5");
          })
          .on("mouseout", function() {
            tooltip.transition()
                .duration(500)
                .style("opacity", 0);
            d3.select(this)
                .attr("fill", "#69b3a2");
          });
    })
    </script> 
  </body>

</html>
